.button1 {
  width: 257px;
  height: 40px;
}

.button2 {
  width: 205px;
  height: 40px;
}

h1 {
  font-family: "Alegreya Sans SC";
  font-size: 28px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}
